<!DOCTYPE html>
<html>
<head><title>Angular two</title>
<script src="angular.js">
</script>
</head>
<body>
<div ng-app>
10+20={{10+20}}
</div>
<div>
40+50={{40+50}}
</div>
<div ng-app>
{{1==2}}
</div>
<div ng-app>
{{ {name:'MIT', age:61}.name }}
</div>
</body>
</html>