<!DOCTYPE html>
<html>
<head>
	<title>Angular five</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body style="text-align: center;background-color: skyblue">

<div ng-app="myApp" ng-controller="caseCtrl">

<h1>{{txt | uppercase}}</h1>
<p>The text is written in uppercase letters.</p>

<h1>{{txt | lowercase}}</h1>

</div>

<script>
var app = angular.module('myApp', []);
app.controller('caseCtrl', function($scope) {
    $scope.txt = "QwErTy";
});
</script>

<p>The second text is written in lowercase letters.</p>
</body>
</html>
