<!DOCTYPE html>
<html>
<head>
	<title>Angular four</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body style="text-align: center;background-color: skyblue">

<div ng-app="myApp" ng-controller="myCtrl">

<select ng-model="selectedName" ng-options="x for x in months">
</select>

</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.months = ["Jan", "Feb", "March","April","May","June","July","Aug","Sept","Oct","Nov","Dec"];
});
</script>
<p>Please hit the drop down menu</p>
</body>
</html>
