<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head><title>Angular SIX</title>
<title>
</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script>
var app = angular.module("AngularnumberApp", []);
app.controller("numberctrl", function ($scope) {
$scope.sampleval = 22/7;
});
</script>
</head>
<body ng-app="AngularnumberApp" style="text-align: center;background-color: skyblue">
<div ng-controller="numberctrl">
Enter Number: <input type="text" ng-model="sampleval" /><br /><br /> 
Number with two Decimal Value: {{sampleval | number:2}} <br /><br />
Number with four Decimals:{{sampleval | number:4}}
</div>
</body>
</html>