<!DOCTYPE html>
<html>
<head>
	<title>Angular three</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body style="text-align: center;background-color: skyblue">

<div ng-app="myApp" ng-controller="myCtrl">

Price: <input type="text" ng-model="Price"><br>
Quantity: <input type="text" ng-model="Quantity"><br>
<br>
Result: {{Price*Quantity}}

</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.Price = 1;
    $scope.Quantity = 2;
});
</script>

</body>
</html>
