<!DOCTYPE html>
<html>
<head>
	<title>Angular two</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body style="text-align: center;background-color: skyblue">

<div ng-app="">
  <form>
    First Name: <input type="text" ng-model="firstname" placeholder="Enter First Name">
    Second Name: <input type="text" ng-model="secondname" placeholder="Enter Second Name">

  </form>
  <h1>You entered: {{firstname+" "}}{{secondname}}</h1>

</div>


</body>
</html>
